body{
    background-color: white;
    min-height: 100dvh;
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: black;
    }
    p{
        color: black;
    }
    button{
        background-color: rgb(77, 6, 59);
        color: white;
        border: none;
        padding: 12px 25px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 0 20px rgba(82, 81, 81, 0.5);
    }
    button:hover {
        background-color: white;
        color: black;
    }
    .container {
        background-color: rgb(240, 223, 238);
        color: black;
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        margin: auto auto;
        flex-direction: column;
        padding: 40px;
        width: 500px;
        border-radius: 30px;
        box-shadow: 0 0 20px rgba(97, 97, 97, 0.761);
        border-bottom: 3px solid rgb(77, 6, 59);
    }
    form {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 400px;
    }
    label{
        text-align: left;
    }
    .pass-container{
        display: flex;
        justify-content: space-between;
    }
    .input {
        border-left: none;
        border-right: none;
        border-top: none;
        background-color: rgba(255, 255, 255, 0);
        color: black;
        height: 40px;
        font-family: 'Courier New', Courier, monospace;
    }

}
a {
    color: black;
}